@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");
h1 {
  font-family: "Fira Sans", sans-serif;
}
.mainheader {
  color: white;
  border: solid white 3px;
  width: 800px;
  position: absolute;
  left: 400px;
  bottom: 640px;
  padding: 15px 15px 15px;
}
html {
  background-color: blue;
  font-family: "Fira Sans", sans-serif;
}

* {
  box-sizing: border-box;
}

.contain {
  max-width: 1300px;
  height: 870px;
  margin-left: auto;
  margin-right: auto;
}

.wrapper {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}

@media (min-width: 900px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 10px 10px 10px;
    margin-top: 100px;
  }

  .form {
    background: #fff;
    width: 700px;
    height: 839px;
    border-top-right-radius: 2%;
    border-bottom-right-radius: 2%;
    padding: 5px 5px 5px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column: 3/4;
  }

  form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    padding: 3px 3px 3px;
    margin-left: 10px;
  }

  .full-width {
    grid-column: 1 / 4;
  }

  .full-width {
    width: 100%;
  }
  input {
    padding: 1em;
  }
  img {
    border-top-left-radius: 2%;
    border-bottom-left-radius: 2%;
  }
}
label {
  margin-right: 10px;
}
#bottom-page {
  color: white;
  text-align: center;
}
